<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias alias="noticeVO" type="com.hanbit.there.api.vo.NoticeVO" />
		<typeAlias alias="eventVO" type="com.hanbit.there.api.vo.EventVO" />
		<typeAlias alias="pressReleaseVO" type="com.hanbit.there.api.vo.PressReleaseVO" />
		<typeAlias alias="referenceRoomVO" type="com.hanbit.there.api.vo.ReferenceRoomVO" />
		<typeAlias alias="exhibtionVO" type="com.hanbit.there.api.vo.ExhibtionVO" />
		
		<typeAlias alias="managerVO" type="com.hanbit.there.api.vo.ManagerVO" />
		<typeAlias alias="managerDetailVO" type="com.hanbit.there.api.vo.ManagerDetailVO" />
	</typeAliases>

</configuration>